@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');

body {
  background: #00000c;
  color: #491bf0;
   margin: 0;
   font-family: 'Teko', sans-serif;
 }
 
 .form input {
  color: #f8f8fa;
 }
 
 .default-flex-row {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
 }
 
h1{
  color: #491bf0;
  font-family: 'Russo One', sans-serif;
}

 .padding {
   padding: 10px;
 }